<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        ClasiApp
      </ion-title>
      
    </ion-toolbar>
    <div class="barra-search">
      <ion-input class="search-input"></ion-input>
      <ion-button size="small">Buscar</ion-button>
    </div>

  
</ion-header>

<ion-content >
  <h3>Resultados</h3>
  <ion-card  *ngFor="let public of ListaPublic;index as i" class="cards" [routerLink]="['', 'product', i ]"  >
    <div class="card-container">
      <div class="card-img">
        <img src="https://www.hostcatedral.com/api/publicacion/pub_0{{i+1}}.jpg" alt="">
      </div>
      <div class="card-content"  >
        <ion-card-header>
          <ion-card-title>{{public?.Titulo}} </ion-card-title>
          <ion-card-subtitle>{{public?.Precio}} Gs</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          {{public?.Contenido}} {{i+1}}
        </ion-card-content>
      </div>
      
    </div>
    
  </ion-card>
</ion-content>
